## <center>Exercises

* 1. Найдите имена начинающиеся с 'B'

In [1]:
names = ['Hanna', 'Boris', 'Steve', 'Alex', 'Vera', 'Bill']

In [2]:
list(filter(lambda name: name.startswith('B'), names))

['Boris', 'Bill']

* 2. Выведите элементы, которых нет во втором списке из первого и наоборот. Ожидаемый результат:

names1 - names2: ['Steve', 'Alex']

names2 - names1: ['Sam', 'Mike']

In [3]:
names1 = ['Hanna', 'Boris', 'Steve', 'Alex', 'Vera', 'Bill']
names2 = ['Hanna', 'Boris', 'Sam', 'Mike', 'Vera', 'Bill']

In [4]:
list(set(names1) - set(names2))

['Alex', 'Steve']

In [5]:
list(set(names2) - set(names1))

['Sam', 'Mike']

In [6]:
[i for i in names1 + names2 if i not in names2]

['Steve', 'Alex']

In [7]:
[i for i in names1 + names2 if i not in names1]

['Sam', 'Mike']

* 3. Преобразуйте список в словарь. Ожидаемый результат:

{'Black': '#FFFF00',

 'Red': '#FFFF00',
 
 'Maroon': '#FFFF00',
 
 'Yellow': '#FFFF00'}

In [8]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]

In [9]:
{color_name[i]: color_code[i] for i in range(len(color_name))}

{'Black': '#000000',
 'Red': '#FF0000',
 'Maroon': '#800000',
 'Yellow': '#FFFF00'}

In [10]:
dict(zip(color_name,color_code))

{'Black': '#000000',
 'Red': '#FF0000',
 'Maroon': '#800000',
 'Yellow': '#FFFF00'}

* 4. Напишите функцию, проверяющую содежится ли ключ в заданном словаре d. Ожидаемый результат:

check_key_function(5) - True, 

check_key_function(9)- False

In [11]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
check_key_function = lambda x: x in d.keys()

[check_key_function(i) for i in [5, 9]]

[True, False]

* 5. Выведите словарь, у которого ключами являются значения от 1 до 15 включительно, а значениями - квадарат соответствующего ключа. Ожидаемый результат:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [13]:
{i: i**2 for i in range(1, 16)}

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

* 6. Посчитайте для каждого символа, сколько раз он встречается в строке.

При вызове count_function('Hello world'), ожидаемый результат 

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [14]:
count_function = lambda s: {c: s.count(c) for c in set(s)}

count_function('Hello world')

{'l': 3, 'r': 1, ' ': 1, 'e': 1, 'o': 2, 'd': 1, 'w': 1, 'H': 1}

In [15]:
from collections import Counter

Counter('Hello world')

Counter({'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

* 7. Напишите функцию, переворачивающую строку, если её длина кратна четырём (иначе вернуть саму строку). Примеры:

your_function('sun') - 'sun'

your_function('home') - 'emoh'

your_function('absolute') - 'etulosba'

In [16]:
your_function = lambda s: s[::-1] if len(s)%4 == 0 else s

[your_function(s) for s in ['sun', 'home', 'absolute']]

['sun', 'emoh', 'etulosba']

* 8. Переверните элементы кортежа

In [17]:
d = (5, 4, 3, 1)

In [18]:
tuple(reversed(d))

(1, 3, 4, 5)

* 9. Выведите список, состоящий из всех элементов с максимальной длиной из данного списка a.

In [19]:
a = ['fgg', 'kk', 'g', 'alf', 'kty', 'ks']

In [20]:
[i for i in a if len(i) == max(map(len, a))]

['fgg', 'alf', 'kty']

+ 10. Написать функцию, которая для числа c четным кол-вом цифр

выводит True в случае если сумма второй половины числа в 2 и более раз превышает сумму первой половины, иначе False (для нечетных тоже выводите False).

Примеры:

your_function(132999) - True, так как 1+3+2 = 6, 9 + 9 + 9 = 27, а 27/6 >= 2.

your_function(9878944479) - False,

your_function(24) - True,

your_function(987) - False.

In [21]:
checker = lambda x: sum(x[len(x)//2:]) / sum(x[:len(x)//2]) >= 2
your_function = lambda x: checker(list(map(int, str(x)))) if len(str(x))%2 == 0 else False
[your_function(i) for i in [132999, 9878944479, 24, 987]]

[True, False, True, False]

In [22]:
def your_function(x):
    a = []
    while x > 0: a.append(x%10); x //= 10
    return sum(a[:len(a)//2]) / sum(a[len(a)//2:]) >= 2 if len(a)%2 == 0 else False

print([your_function(i) for i in [132999, 9878944479, 24, 987]])

[True, False, True, False]